:root{
    --main-color : #1b1f23;
    --second-color: #2f363c;
}
body .website-background {
    background-image: url('https://c1.wallpaperflare.com/preview/600/526/347/background-black-abstract-dark-backdrop-web.jpg');
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
}
body .second-website-background{
    background-color: rgba(0, 0, 0, 0.661);
}

.info-profile .background{
    background-color: #0a58ca;
    background-image: url('https://4kwallpapers.com/images/wallpapers/dark-background-abstract-background-network-3d-background-3840x2160-8324.png');
    background-size: cover;
    background-position: center;
    height: 300px;
}
.info-profile .profile-image {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    position: relative;
    top: -50%;
    left: 25%;
    outline: 3px solid #1861ce;
}
.info-profile label i {
    position: relative;
    top: -75%;
    left: 105%;
    cursor: pointer;
    font-size: 25px;
}
.info-profile label i:first-of-type {
    opacity: 0;
    transition: .3s;
    color: antiquewhite;
    text-shadow: 1px 1px 2px black;
    margin-left: -35px;
}
.info-profile .profile-image:hover + i:first-of-type {
    opacity: 1;
    transition: .3s;
}
.info-profile label i:last-of-type {
    margin-left: -35px;
}

.profile-image{
    background-size: cover;
    background-position: center;
    outline: 3px solid #1861ce;
    border-radius: 50%;
}
.new-post .profile-image {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.all-posts .profile-image {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}
.new-comment .profile-image {
    width: 60px;
    height: 60px;
}
.comments-container .profile-image {
    width: 50px;
    height: 50px;
    margin-left: 5px;
}

.new-post div textarea,
.modal textarea,
.new-comment div textarea {
    flex: 1;
    background-color: var(--second-color);
    color: white;
    resize: none;
    border-radius: 10px;
    margin: 0;
}
.new-post div textarea:focus-within,
.modal textarea:focus-within,
.new-comment div textarea:focus-within  {
    border: none !important;
    background-color: #2f363c;
    color: white;
}
.new-post div label,
.modal-body .edit-image label,
.new-comment div label {
    cursor: pointer;
    border: 1px solid rgb(28, 28, 28);
    color: white !important;
    padding: 10px;
    background-color: var(--second-color);
    border-radius: 6px;
}
.new-post div label:hover,
.modal-body .edit-image label:hover,
.new-comment div label:hover {
    color: #0a58ca !important;
    transition: 0.2s;
}
.info-profile div,
.all-posts > div,
.login-register,
.new-post div,
.modal .modal-content {
    background-color: var(--main-color);
}
.all-posts div .info h4 a{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
/* .all-posts div .info div:first-child {
    flex: 1;
} */
.all-posts div .edit:hover {
    color: rgb(0, 94, 255);
    transition: .3s;
}
.all-posts div .delete:hover {
    color: red;
    transition: .3s;
}
.all-posts .action a:hover,
.all-posts .action .active {
    color: #0a58ca;
    transition: 0.2s;
    cursor: pointer;
}
nav {
    background-color: var(--main-color);
    color: white !important;
}
nav x-nav-link{
    color: white !important;
}

.friends > div{
    border-bottom: 1px solid rgba(128, 128, 128, 0.341);
}
.friends h1 {
    font-size: 30px;
}
.friends .profile-image {
    width: 100px;
    height: 100px;
}

@media (max-width: 1500px) {
    .friends h1 {
        font-size: 20px;
    }
    .friends .profile-image {
        width: 70px;
        height: 70px;
    }
    .friends button {
        padding: 4px;
    }
}
@media (max-width: 1100px) {
    .friends h1 {
        font-size: 18px;
    }
    .friends .profile-image {
        width: 60px;
        height: 60px;
    }
}
@media (max-width: 700px) {
    .friends h1 {
        font-size: 15px;
    }
    .friends .profile-image {
        width: 40px;
        height: 40px;
    }
    .friends button .friends a {
        padding: 3px;
    }
}